ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ion-list {
  margin-bottom: 20px;
}

ion-button {
  margin-top: 10px;
  border-radius: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.buttons ion-button {
  flex: 1;
}

.footer-text {
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 6px 0;
  white-space: normal;
}
